<center><h1>AppleStock DataFrame</h1></center>

In [1]:
import pandas as pd

In [2]:
Open = [99.00,102.81,101.21]

In [3]:
High = [101.26,103.05,102.19]

In [4]:
Low = [98.89,101.44,101.08]

In [5]:
Close = [100.86,101.63,101.66]

In [6]:
Volume = [66818200,61216500,62626100]

In [7]:
Adj = [100.86,101.63,101.66]

In [8]:
list_labels = ['Open','High','Low','Close','Volume','Adj Close']

In [9]:
list_columns = [Open,High,Low,Close,Volume,Adj]

In [10]:
zipped = list(zip(list_labels,list_columns))

In [11]:
data = pd.DataFrame(dict(zipped))

In [12]:
data.index = ["2014-09-16",'2014-09-15','2014-09-12']

In [13]:
print(data)

              Open    High     Low   Close    Volume  Adj Close
2014-09-16   99.00  101.26   98.89  100.86  66818200     100.86
2014-09-15  102.81  103.05  101.44  101.63  61216500     101.63
2014-09-12  101.21  102.19  101.08  101.66  62626100     101.66

In [14]:
type(data)

pandas.core.frame.DataFrame

In [15]:
data.shape

(3, 6)

In [16]:
data.index

Index(['2014-09-16', '2014-09-15', '2014-09-12'], dtype='object')

In [17]:
data.iloc[::]

              Open    High     Low   Close    Volume  Adj Close
2014-09-16   99.00  101.26   98.89  100.86  66818200     100.86
2014-09-15  102.81  103.05  101.44  101.63  61216500     101.63
2014-09-12  101.21  102.19  101.08  101.66  62626100     101.66

In [18]:
data.index.rename('Data')

Index(['2014-09-16', '2014-09-15', '2014-09-12'], dtype='object', name='Data')

In [19]:
print(data)

              Open    High     Low   Close    Volume  Adj Close
2014-09-16   99.00  101.26   98.89  100.86  66818200     100.86
2014-09-15  102.81  103.05  101.44  101.63  61216500     101.63
2014-09-12  101.21  102.19  101.08  101.66  62626100     101.66